<div class="container">
<form action="" class="search-form">
    <input type="text" placeholder="search git user" class="" [(ngModel)]="username" name="username" (keyup)="findProfile()">
</form>

<div *ngIf="profile">
    <div class="panel panel-default">
      <div class="panel-heading">
      {{profile.name}}
      <small>{{profile.login}}</small>
      <span *ngIf="profile.company">Works at{{profile.company}}</span>
      <small>{{profile.location}}</small>
      </div>
      <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" alt="Profile Image">
        </div>
        <div class="col-sm-5">
         <ul class="list-group">
           <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
           <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
           <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank"></a>{{profile.blog}}</li>
           <li class="list-group-item" *ngIf="profile.email"><a href="email to:{{profile.email}}" target="_blank"></a>{{profile.email}}</li>
         </ul>
        </div>
        <div class="col-sm-4">
          <p>
              <span class="btn btn-info"> Followers:{{profile.followers}}</span>
              <span class="btn btn-primary"> Following:{{profile.following}}</span>
              <span class="btn btn-success"> Repos:{{profile.public_repos}}</span>
              <span class="btn btn-info"> Public gist:{{profile.public_gists}}</span>
          </p>
          <p><a href="{{profile.html_url}}" class="btn btn-success" target="_blank">View Profile on Github</a></p>
          <div class="panel panel-default">
             <div class="panel-heading">
                 <h3 class="panel-title">Repos</h3>
             </div>
             <div class="panel-body" *ngFor= "let repo of repos">
               <p class="clearfix">
                   {{repo.name}} <a href="{{repo.html_url}}" class="btn btn-success" target="_blank">View this project on github</a>
                </p>
                  <p>{{repo.description}}</p> 
              
             </div>
          </div>
        </div>
      </div>
      </div>  
    </div>
</div>
</div>